body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dcdedc;
    border-radius: 4px;
    height: 20%;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 25px;
    margin-top: 12px;
}

#container{
    background-color: #82d1ed;
    border-radius: 8px;
    height: 66vh;
    width: 45vh;
}

#screen div{
    text-align: right;
    font-family: "American Typewriter";
    margin: 0;
    padding-right: 2.5%;
}

#top{
    font-size: 18pt;
    height: 33%;
}

#bottom{
    font-size: 28pt;
    height: 67%;
}

#typing-area{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin: 5%;
    height: 70%;
    gap: 2.5%;
    
}
button{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    font-family: monospace;
    font-style: bold;
    font-size: 18pt;
}

.digit{
    background-color: #d8ead4;
}

.operator{
    background-color: #a5a5a5;;
}
